apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {certificate-authority-data}
    server: https://{server-domain}:{server-port}
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data: {client-certificate-data}
    client-key-data: {client-key-data}
